<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="mb-3">
          <label for="id" class="form-label">ID: </label>
          <input type="number" class="form-control" id="id1" aria-describedby="emailHelp" name="id" [(ngModel)]="id">

        </div>
        <div class="mb-3">
          <label for="name" class="form-label">name</label>
          <input type="text" class="form-control" id="id2" name="id" [(ngModel)]="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email: </label>
          <input type="text" class="form-control" id="id3" name="Email" [(ngModel)]="email">
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">District: </label>
          <input type="text" class="form-control" id="id4" name="district" [(ngModel)]="district">
        </div>
        <div class="mb-3">
          <label for="id5" class="form-label">Image: </label>
          <input type="text" class="form-control" id="id5" name="image" [(ngModel)]="image">
        </div>
        <div class="d-grid gap-2 col-2 mx-auto mb-3">
          <button type="submit" class="btn btn-primary" (click)="show_data()">Insert Data</button>
        </div>

      </form>
    </div>
    <div class="col-md-4">
      <select class="form-select" aria-label="Default select example" #dd (change)="m1(dd.value)">

        <option *ngFor="let i of product_array; let z=index"  [value]="z">{{i.id}}</option>
       

      </select>
    </div>
    <div class="col-md-4">
     <h1>ID: {{product.id}}</h1>
     <h1>Name: {{product.name}}</h1>
     <h1>Email: {{product.email}}</h1>
     <h1>District: {{product.district}}</h1>
     <h1>Image: <img src="{{product.image}}" height="60px"  alt="" srcset=""></h1>
    </div>
  </div>


</div>

<div class="container">
  <table class="col-12">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>

      <th>District</th>


    </tr>

    <tr *ngFor="let i of product_array">
      <td>{{i.id}}</td>
      <td>{{i.name}}</td>
      <td>{{i.email}}</td>
      <td>{{i.district}}</td>
      <td><img src="{{i.image}}" alt="" height="40px" weight="50px"></td>




    </tr>
  </table>
</div>


<router-outlet></router-outlet>
