

<router-outlet></router-outlet>

<div class="container">
  <label for="name" class="form-label">number-1 : </label>
  <input type="number" style=" width: 900px;" name="x" class="form-control" id="name" [(ngModel)]="x"><br><p></p>
  <label for="id" class="form-label">Number-3 :</label>
  <input type="number" style= " width: 900px;" id="id" class="form-control" name="y" [(ngModel)]="y" >

<label for="email" class="form-label">Number-3 :</label>
<input type="number" style= " width: 900px;" id="id" class="form-control" name="z" [(ngModel)]="z" >
</div><p></p>
<div class="container" style= "margin-left: 600px;">
  <button style="background-color: blue; color: white; " type="submit"(click)="m1()">Submit</button>
</div>

<h1 class="x">Bangladesh</h1><p></p>

<p class="color" [ngStyle]="{'background-color':'green'}">Just like on Bailey Road, a prominent feature of Banani road-11, Kamal Ataturk Avenue, Satmasjid Road, Khilagon Taltola and Mirpur-11 traffic circle are tall buildings that house restaurants,</p>



<div>
  <textarea name="text" id="ab" cols="30" rows="10"  style="margin-left: 300px;" name="sum" [(ngModel)]="sum">Result:</textarea>
</div>

<div><img src="\assets\images\abcd.png" alt=""></div>



